<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Steams{% endblock %}</title>
</head>
<body>
    <header>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/crypto-js.min.js' %}"></script>
        <script src="{% static 'js/jsencrypt.min.js' %}"></script>
        <!-- Header content -->
    </header>

    <nav>
        <!-- Navigation menu -->
    </nav>

    <main>
        {% block content %}
        {% endblock %}

        {% if user and user.is_authenticated %}
        <a href={% url 'logout' %}>Logout</a>
        {% endif %}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>